

body{
}

/*Navigation START*/

.nav-bar{
    background-color: brown;
}

.nav-bar a{
    color: blanchedalmond;

}

.nav-bar a:hover{
    text-decoration: underline black;
}

/* Shopping kurv CSS som fungere som en prikfunktion*/
.shopkurv{
    background-color: bisque;
    padding: 10px;
    display: inline-block;
    right: auto;
    top: 0;
    position: fixed;

}

button{
    cursor: pointer;
}
/* Bokse af madvare*/
.div-box{
    background-color: burlywood;
    display: inline-block;
    padding: 20px;
    margin-top: 40px;
}