*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(232, 238, 178);
}

/*Navigation START*/

.nav-bar{
    background-color: brown;
    
}

.nav-bar a{
    color: blanchedalmond;
    text-decoration: none;
    font-size: 25px;

}

.nav-bar a:hover{
    text-decoration: underline blanchedalmond;
}

/* Shopping kurv CSS som fungere som en prikfunktion*/
.shopkurv{
    background-color: bisque;
    padding: 10px;
    display: inline-block;
    right: 0%;
    top: 0;
    position: fixed;

}

button{
    cursor: pointer;
}
/* Bokse af madvare*/
.div-box{
    background-color: burlywood;
    display: inline-block;
    padding: 20px;
    margin-top: 40px;
}

footer{
    background-color: rgb(27, 27, 39);
    padding-top: 60px;
    padding-bottom: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    

    
    
}